{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}
<!--Non Field Errors-->
{% if form.non_field_errors %} {% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %} 
<div class="flex justify-center">
<div class="w-1/2">
    <div class="px-3 rounded-xl">
        <div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700">
            <i class="fa-solid fa-user"></i>
            Update Your Profile: <span class="text-yellow-500">@{{request.user}}</span>
        </div>
    <div class="w-full border rounded-lg">
        <form method="POST" class="shadow-md rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data" novalidate >
            {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}

                <!--First Name-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.first_name.id_for_label }}">
                        {{ form.first_name.label }}
                    </label> {{ form.first_name }} {% if form.first_name.errors %} {% for error in form.first_name.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
                <!--Last Name-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.last_name.id_for_label }}">
                        {{ form.last_name.label }}
                    </label> {{ form.last_name }} {% if form.last_name.errors %} {% for error in form.last_name.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>

                <!--Email-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}
                    </label> {{ form.email }} {% if form.email.errors %} {% for error in form.email.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
            

                <!--image-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.image.id_for_label }}">
                        {{ form.image.label }}
                    </label> {{ form.image }} {% if form.image.errors %} {% for error in form.image.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
                <!--Gender-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.gender.id_for_label }}">
                        {{ form.gender.label }}
                    </label> {{ form.gender }} {% if form.gender.errors %} {% for error in form.gender.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
                <!--Last Donation Date-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.last_donation_date.id_for_label }}">
                        {{ form.last_donation_date.label }}
                    </label> {{ form.last_donation_date }} {% if form.last_donation_date.errors %} {% for error in form.last_donation_date.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
                <!--Available for donation-->
                <div class="w-full md:w-1/2 px-3 my-6 flex">
                    <label class="block me-4 uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.is_available.id_for_label }}">
                        {{ form.is_available.label }}
                    </label> {{ form.is_available }} {% if form.is_available.errors %} {% for error in form.is_available.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
                <!--Address-->
                <!--Street-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.street.id_for_label }}">
                        {{ form.street.label }}
                    </label> {{ form.street }} {% if form.street.errors %} {% for error in form.street.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
                <!--City-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.city.id_for_label }}">
                        {{ form.city.label }}
                    </label> {{ form.city }} {% if form.city.errors %} {% for error in form.city.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
                <!--Post Code-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.post_code.id_for_label }}">
                        {{ form.post_code.label }}
                    </label> {{ form.post_code }} {% if form.post_code.errors %} {% for error in form.post_code.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
                <!--Country-->
                <div class="w-full md:w-1/2 px-3 my-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.country.id_for_label }}">
                        {{ form.country.label }}
                    </label> {{ form.country }} {% if form.country.errors %} {% for error in form.country.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>

            {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
            <div class="flex flex-col items-start justify-between">
                <button class="bg-yellow-500 hover:bg-yellow-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Update
                </button>
                <br>
                <p class="text-white">Go back to profile <a href="{% url "profile" %}" class="text-blue-500">Click Here</a></p>
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock content %}