{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}
<div class="grid grid-cols-4 gap-4">
    <!--Profile Details-->
<div class="p-8 max-w-lg border border-indigo-300 rounded-2xl hover:shadow-xl hover:shadow-indigo-50 flex flex-col items-center">
    <!--Profile Photo-->
    <figure class="max-w-lg">
        <img {% if user.image and user.image.url %}src="{{ user.image.url }}" {% else %}src="#"{% endif %} class="border border-red-600 rounded-full w-48 h-48" alt="profile-picture">
        <figcaption class=" mt-2 text-3xl text-center text-white">@{{user.user}}</figcaption>
    </figure>
    <!--Details-->
    <div class=" max-w-2xl shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-white">
                User database
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-green-400">
                Successfully donated {{user.total_donated}} times through BINDU.
            </p>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-white">
                        Full name
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {{request.user.first_name}} {{request.user.last_name}}
                    </dd>
                </div>
                <div class=" px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-white">
                        Email address
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {{request.user.email}}
                    </dd>
                </div>
                <div class=" px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-white">
                        Blood Group
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {{user.blood_group}}
                    </dd>
                </div>
                <div class=" px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-white">
                        Gender
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {{user.gender}}
                    </dd>
                </div>
                <div class=" px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-white">
                        Last Donation Date
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {{user.last_donation_date}}
                    </dd>
                </div>
                <div class=" px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-white">
                        Status
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {% if user.is_available %} <span class="text-green-500">Available for donation</span> {% else %} <span class="text-red-600">Not available for donation</span>{% endif %}
                    </dd>
                </div>
                
                <div class=" px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-white">
                        Address
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {{user.street}}, {{user.city}}, {{user.post_code}}, {{user.country}}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
<!--History-->
<div class="col-span-3">
    <div class="p-8 border border-indigo-300 rounded-2xl hover:shadow-xl hover:shadow-indigo-50">
        <!--Blood Request-->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-400">
                <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-white bg-gray-800">
                    Your Request
                </caption>
                <thead class="text-xs uppercase  bg-gray-700 text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Blood Group
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Donor
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Donation Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr class=" border-b bg-gray-800 border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                                {{event.created_at}}
                            </th>
                            <td class="px-6 py-4">
                                {{event.blood_group}}
                            </td>
                            <td class="px-6 py-4">
                                {% if event.is_accepted %} Accepted {% else %} Pending {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                {% if event.is_accepted %} <a href="{% url "mini_profile" event.report.profile.id %}" class="">{{event.report.profile.user}} </a> {% else %} Pending {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                {% if event.is_accepted %} {{event.report.created_at}} {% else %} Pending {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br> <br>
        <!--Donation Report-->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-400">
                <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-white bg-gray-800">
                    Donation Report 
                </caption>
                <thead class="text-xs uppercase  bg-gray-700 text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Requested By
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Location
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for data in object_list %}
                    <tr class=" border-b bg-gray-800 border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                                {{data.created_at}}
                            </th>
                            <td class="px-6 py-4">
                                <a href="{% url "mini_profile" data.event.created_by.id %}" class="">{{data.event.created_by.user}}</a>
                            </td>
                            <td class="px-6 py-4">
                                {{data.event.location}}
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock content %}