{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}

<blockquote class="text-xl italic font-semibold  text-white">
    <p>""The blood you donate gives someone another chance at life. One day that someone may be a close relative, a friend, a loved one—or even you." </p>
</blockquote>
<blockquote class="text-xl italic font-semibold  text-white">
    <p>""To give blood, you need neither extra strength nor extra food, and you will save a life." - Dr. Charles Drew" </p>
</blockquote>
<blockquote class="text-xl italic font-semibold  text-white">
    <p>""The blood you donate gives someone another chance at life. One day that someone may be a close relative, a friend, a loved one—or even you." </p>
</blockquote>
<br> <br>
<p class="mb-3 text-gray-400">Across Bangladesh, every day there remains an urgent need for all types of blood groups. Especially donors with rare blood groups such as O Negative, B Negative and A Negative are in high demand. Your timely response is essential to the supply of healthy blood for the massive daily demand we face.</p>

<p class="mb-3 text-gray-400">Your donation can save the lives of many, make a difference or simply make you feel great about your contribution to humanity. Whatever your reason, whatever your motivation we welcome you to learn more about eligibility and benefits of donating blood with a trusted organization like us.

</p>
<p class="mb-3 text-gray-400">
    Find out more about local blood drives and BINDU campaigns near you. Donate blood, save lives.
</p>


<dl class="max-w-md divide-y  text-white divide-gray-700">
    <div class="flex flex-col pb-3">
        <dt class="mb-1  md:text-lg text-gray-400">Email address</dt>
        <dd class="text-lg font-semibold">info@bindu.com</dd>
    </div>
    <div class="flex flex-col py-3">
        <dt class="mb-1  md:text-lg text-gray-400">Office address</dt>
        <dd class="text-lg font-semibold">92 Miles Drive, Newark, NJ 07103, California, USA</dd>
    </div>
    <div class="flex flex-col pt-3">
        <dt class="mb-1  md:text-lg text-gray-400">Phone number</dt>
        <dd class="text-lg font-semibold">+00 123 456 789 / +12 345 678</dd>
    </div>
</dl>

{% endblock content %}
