{% extends "base.html" %}
{% block title %}Service{% endblock title %}
{% block content %}
<div class="my-10 " >
    <div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700 grid grid-cols-4">
        <div class="col-span-3">
            Help Request:
        </div>
    </div>

    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-400">
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Phone
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Message
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for msg in data %}
                <tr class="border-b bg-gray-800 border-gray-700 cursor-pointer">
                    <td class="px-6 py-4 font-medium whitespace-nowrap text-white">
                        {{msg.created_at}}
                    </td>
                    <td class="px-6 py-4">
                        {{msg.name}}
                    </td>
                    <td class="px-6 py-4">
                        {{msg.phone}}
                    </td>
                    <td class="px-6 py-4">
                        {{msg.problem}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}