{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<!--Banner Start-->
        <div class="grid grid-cols-1 md:grid-cols-2 sm:gap-0 gap-4">
    <div class="bg-slate-700 flex justify-center items-center rounded-lg">
        <div class="text-center px-4 md:px-16 lg:px-48">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl">Let's save life together.</h1>
            <p class="text-lg font-normal text-gray-300 lg:text-xl"><i class='fas fa-check-circle verified-badge text-blue-600'></i> Total Active User: {{total_user}}</p>
            <p class="text-lg font-normal text-gray-300 lg:text-xl"><i class='fas fa-check-circle verified-badge text-red-700'></i> Total Blood Donated: {{total_donated}} bag</p>
            <p class="mb-6 text-lg font-normal text-gray-300 lg:text-xl">
                {% if request.user.is_authenticated %}
                See Dashboard for latest blood request..
                {% else %}
                Sign Up to donate blood or plasma
                {% endif %}
            </p>
            {% if request.user.is_authenticated %}
                <a href="{% url "dashboard" %}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Dashboard
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            {% else %}
                <a href="{% url "register" %}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Sign Up
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>
    <img class="h-auto w-full rounded-lg " src="{% static "carousel_1.png" %}" alt="image description">
</div>

        <!--Banner End-->
<!--Active Blood Doner Start-->
<div class="my-10" id="DonorList">
    <div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700 grid grid-cols-4">
        <div class="col-span-3">
            Active Donor List
        </div>
        
    <form class="">   
        <label for="id_search" class="mb-2 text-sm font-medium sr-only text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="id_search" class="block w-full p-4 ps-10 text-sm  border rounded-lg  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Search blood group, donor..." value="{{ request.GET.search }}" >
            <button type="submit" name="search" class="text-white absolute end-2.5 bottom-2.5 focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-4 py-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Search</button>
        </div>
    </form>

    </div>

    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-white bg-gray-800">
                <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
                    <a href="{% url "homepage" %}" class="border focus:ring-4 focus:outline-none rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 border-blue-500 text-blue-500 hover:text-white hover:bg-blue-500 bg-gray-900 focus:ring-blue-800">Blood Groups</a>
                    {% for data in blood_group %}
                        <a href="{% url "blood_group_wise_post" data.slug %}" class="border hover:border-gray-200 border-gray-900 bg-gray-900 dark:hover:border-gray-700 focus:ring-4 focus:outline-none rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 text-white focus:ring-gray-800">{{data.blood_type}} {{data.rh_factor}}</a>
                    {% endfor %}
                </div>
            </caption>
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Blood Group
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Donated
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Last Donation Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for donor in donors %}
                <tr class="border-b bg-gray-800 border-gray-700 cursor-pointer" 
                    {% if request.user.profile.id == donor.id %}onclick="window.location='{% url "profile" %}'"{% else %}onclick="window.location='{% url "mini_profile" donor.id %}'"{% endif %}>
                    <td class="px-6 py-4 font-medium whitespace-nowrap text-white">
                        {{donor.user.first_name}} {{donor.user.last_name}}
                    </td>
                    <td class="px-6 py-4">
                        {{donor.blood_group}}
                    </td>
                    <td class="px-6 py-4">
                        {{donor.total_donated}}
                    </td>
                    <td class="px-6 py-4">
                        {{donor.last_donation_date}}
                    </td>
                    <td class="px-6 py-4">
                        {% if donor.is_available %}
                        <span class="text-green-600">Available for donation.</span>
                        {% else %}
                        <span class="text-red-600">Not available for donation</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--Active Blood Doner End-->
<!--Services Start-->
    <div id="services" class="my-10">
    {% if request.user.is_staff %}
    <div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700 flex justify-between items-center">
        <div class="">
            Sercices
        </div>
        <a href="{% url "add_service" %}" class="text-2xl text-blue-600">
            Add New
        </a>
    </div>
    {% else %}
    <div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700">
        Services
    </div>
    {% endif %}
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 my-10 ms-2 md:ms-4 lg:ms-16">
        {% for service in data %}
        <!--Card Here-->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="w-full h-48 object-cover rounded-t-lg" src="{{service.image.url}}" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{service.title}}</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{service.description | truncatewords:25 }}</p>
                {% if request.user.is_authenticated %}
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read More
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
                {% else %}
                <a href="{% url "register" %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Sign Up
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
                {% endif %}
                {% if request.user.is_staff %}
                <a href="{% url "edit_service" service.slug %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg  focus:ring-4 focus:outline-none  bg-red-500 hover:bg-red-700 focus:ring-red-800">
                    Edit
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
                <a href="{% url "delete_service" service.slug %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg  focus:ring-4 focus:outline-none  bg-red-500 hover:bg-red-700 focus:ring-red-800">
                    Delete
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--Activity End-->
<!--Contact Us Start-->
{% include "contact_us.html" %}
<!--Contact Us End-->
{% endblock content %}