{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<!--Self Donation Request-->
<div class="">
    <div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700">
        My Request:
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {% for event in events %}
            {% if request.user == event.created_by.user %}
                <!--Event-->
                <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
                    <h5 class="text-2xl font-bold tracking-tight text-gray-900">Need <span class="text-red-600">{{event.blood_group}} </span>Blood</h5>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{event.created_at}}</span>
                    <hr>
                    <p class="mb-3 text-sm text-gray-500 dark:text-gray-400">Requested By: <a href="" class="">{{event.created_by}}</a></p>
                    <p class="font-normal text-gray-700">Location: {{event.location}}</p>
                    <p class="mb-3 font-normal text-gray-700">{{event.description}}</p>
                    <!--Buttons-->
                    <a href="{% url "managed_offline" event.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Mark as managed
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                    <a href="{% url "post_update" event.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Edit
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!--Extra Field-->
<div class="">
    <br> <br>
    <a href="{% url "post_request" %}" class="text-white mt-5 border p-2 rounded-lg">Add a new request</a>
    <hr class="my-5">
</div>
<!--Other's Donation Request-->
<div class="">
    <div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700 grid grid-cols-4">
        <div class="col-span-3">
            Other's Request:
        </div>
        <div class="">
            <form class="">   
                <label for="id_search" class="mb-2 text-sm font-medium sr-only text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="id_search" class="block w-full p-4 ps-10 text-sm  border rounded-lg  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Search blood group, donor..." value="{{ request.GET.search }}" >
                    <button type="submit" name="search" class="text-white absolute end-2.5 bottom-2.5 focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-4 py-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for event in events %}
            {% if request.user != event.created_by.user %}
                <!--Event-->
                <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
                    <h5 class="text-2xl font-bold tracking-tight text-gray-900">Need <span class="text-red-600">{{event.blood_group}} </span>Blood</h5>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{event.created_at}}</span>
                    <hr>
                    <p class="mb-3 text-sm text-gray-500 dark:text-gray-400">Requested By: <a href="{% url "mini_profile" event.created_by.id %}" class="">{{event.created_by}}</a></p>
                    <p class="font-normal text-gray-700">Location: {{event.location}}</p>
                    <p class="mb-3 font-normal text-gray-700">{{event.description}}</p>
                    <!--Buttons-->
                    <a href="{% url "donate_blood" event.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Accept
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock content %}