{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}
{% block title %}Create Request{% endblock title %}
{% block content %}

<!---->

<form method="post" enctype="multipart/form-data" class="max-w-lg mx-auto border p-5 rounded-xl">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
    <div class="">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.blood_group.id_for_label }}">
            {{ form.blood_group.label }}
        </label>
        {{ form.blood_group }}
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.location.id_for_label }}">
            {{ form.location.label }}
        </label>
        {{ form.location }}
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.description.id_for_label }}">
            {{ form.description.label }}
        </label>
        {{ form.description }}
    </div>


    <button type="submit" class="my-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>




{% endblock content %}
